.registration-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
h2 {
text-align: center;
}

.form-group {
margin-bottom: 20px;
}

label {
display: block;
margin-bottom: 5px;
color: #fff;
}

input,
select {
width: 100%;
padding: 10px;
border: 1px solid #fff;
border-radius: 5px;
color: #000;
}

button {
display: block;
width: 100%;
padding: 10px;
background-color: #4caf50;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #45a049;
}
